{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container products thetop">
        <ol class="breadcrumb" itemtype="http://schema.org/BreadcrumbList">
        </ol>
        <h1 class="text-center mt-3 capitalize" id="#top-section">Kitchen</h1>
        <p class="text-center prod-list">Faucets, Sinks, Garbage Disposals, Kitchen Hardware & Accessories, Water
            Filtration</p>

        <hr class="hr-below-title mb-4">
        <div class="float-left sticky-top d-none d-lg-block">
            <div>
                <ul class="justify-content-center list-inline">
                    <li class="nav-item">
                        <a class="nav-link categories">
                            <h5>Categories:</h5>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link categories cat-up honey" href="/category/bathroom/addcategory/accessories">Accessories</a>
                    </li>
                    <li>
                        <a class="nav-link categories cat-up honey" href="/category/bathroom/addcategory/showers">Showers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/basin-faucets">basin-faucets</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/toilets">toilets</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up"
                           href="/category/bathroom/subcategory/lighting">lighting</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/sinks">sinks</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/bath-mixers">bath-mixers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/valve-trim">valve-trim</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/bath-spout">bath-spout</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/filter">filter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/concealed-mixer">concealed-mixer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/smartcontrol">smartcontrol</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/faucets">faucets</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/shower">shower</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link categories cat-up"
                           href="/category/bathroom/subcategory/vanities">vanities</a>
                    </li>

                </ul>
            </div>
            <div class="mb-2">
                <ul class="justify-content-center list-inline">
                    <li class="nav-item">
                        <a class="nav-link categories">
                            <h5>Brands: </h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/MOEN">MOEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/TOTO">TOTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/RONBOW">RONBOW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/HANSGROHE">HANSGROHE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/CATALANO">CATALANO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/GEDY">GEDY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/GROHE">GROHE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/DELTA">DELTA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link categories" href="/category/bathroom/brand/ROYO">ROYO</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-lg-none d-xl-none">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link categories">Categories: </a>
                </li>
                <li>
                    <a class="nav-link categories cat-up honey" href="/category/bathroom/addcategory/accessories">Accessories</a>
                </li>
                <li>
                    <a class="nav-link categories cat-up honey"
                       href="/category/bathroom/addcategory/showers">Showers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/basin-faucets">basin-faucets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/toilets">toilets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/lighting">lighting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/sinks">sinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up"
                       href="/category/bathroom/subcategory/bath-mixers">bath-mixers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up"
                       href="/category/bathroom/subcategory/valve-trim">valve-trim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up"
                       href="/category/bathroom/subcategory/bath-spout">bath-spout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/filter">filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/concealed-mixer">concealed-mixer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/smartcontrol">smartcontrol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/faucets">faucets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/shower">shower</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories cat-up" href="/category/bathroom/subcategory/vanities">vanities</a>
                </li>
            </ul>
        </div>
        <div class="mb-2 d-lg-none d-xl-none">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link categories">Brands: </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/MOEN">MOEN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/TOTO">TOTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/RONBOW">RONBOW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/HANSGROHE">HANSGROHE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/CATALANO">CATALANO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/GEDY">GEDY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/GROHE">GROHE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/DELTA">DELTA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categories" href="/category/bathroom/brand/ROYO">ROYO</a>
                </li>
            </ul>
        </div>

        <div class="col-md-12" id="list">
            <div class="row prod-list" style="margin: 0px">

                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T2253EP">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t2253ep.jpg"
                                     alt="Brantford Shower And Tub Chrome"
                                     data-productname="Brantford Shower And Tub Chrome">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Brantford Shower And Tub Chrome
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T2743">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t2743.jpg"
                                     alt="Glyde  Shower And Tub Chrome" data-productname="Glyde  Shower And Tub Chrome">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde  Shower And Tub Chrome
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB2303">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb2303.jpg" alt="Glyde Double Robe Hook"
                                     data-productname="Glyde Double Robe Hook">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde Double Robe Hook
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB2308">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb2308.jpg" alt="Glyde Paper Holder"
                                     data-productname="Glyde Paper Holder">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde Paper Holder
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB2386">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb2386.jpg" alt="Glyde Towel Ring"
                                     data-productname="Glyde Towel Ring">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde Towel Ring
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB2318">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb2318.jpg"
                                     alt="Glyde 18&quot; Towel Bar " data-productname="Glyde 18&quot; Towel Bar ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde 18" Towel Bar 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB2324">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb2324.jpg"
                                     alt="Glyde 24&quot; Towel Bar " data-productname="Glyde 24&quot; Towel Bar ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde 24" Towel Bar 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T6172">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t6172.jpg"
                                     alt="Glyde  4&quot; Basin Faucet " data-productname="Glyde  4&quot; Basin Faucet ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde  4" Basin Faucet 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T6173">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t6173.jpg"
                                     alt="Glyde Two-Handle 8&quot; Widespread "
                                     data-productname="Glyde Two-Handle 8&quot; Widespread ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Glyde Two-Handle 8" Widespread 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T4503NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t4503nl.jpg"
                                     alt="Wynford tub-shower Polished Nickel"
                                     data-productname="Wynford tub-shower Polished Nickel">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford tub-shower Polished Nickel
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T4500NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t4500nl.jpg"
                                     alt="Wynford Single Faucet Polished Nickel"
                                     data-productname="Wynford Single Faucet Polished Nickel">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford Single Faucet Polished Nickel
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T4507NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t4507nl.jpg"
                                     alt="Wynford Vessel Facuet Polished Nickel"
                                     data-productname="Wynford Vessel Facuet Polished Nickel">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford Vessel Facuet Polished Nickel
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/T4505NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/t4505nl.jpg"
                                     alt="Wynford 4&quot; Basin Facuet Polished Nickel "
                                     data-productname="Wynford 4&quot; Basin Facuet Polished Nickel ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford 4" Basin Facuet Polished Nickel 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB5203NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb5203nl.jpg"
                                     alt="Wynford Double Robe Hook" data-productname="Wynford Double Robe Hook">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford Double Robe Hook
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB5208NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb5208nl.jpg"
                                     alt="Wynford Pivoting Paper Holder"
                                     data-productname="Wynford Pivoting Paper Holder">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford Pivoting Paper Holder
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB5218NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb5218nl.jpg"
                                     alt="Wynford 18&quot; Towel Bar " data-productname="Wynford 18&quot; Towel Bar ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford 18" Towel Bar 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB5222NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb5222nl.jpg"
                                     alt="Wynford 24&quot; Double Towel Bar "
                                     data-productname="Wynford 24&quot; Double Towel Bar ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford 24" Double Towel Bar 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="card text-center col-sm-4" style="width: 22rem;">
                    <a href="/category/bathroom/YB5224NL">
                        <div class="card-body" style="text-align:center;">
                            <div style="height: 250px; width: 250px;">
                                <img class="card-img-top card-img prodimg"
                                     style="position: relative;margin-left: auto;margin-right:auto;"
                                     src="http://d1z9ehtk9rps9k.cloudfront.net/yb5224nl.jpg"
                                     alt="Wynford 24&quot; Towel Bar " data-productname="Wynford 24&quot; Towel Bar ">
                            </div>
                            <div>
                                <p class="card-title card-title-prod">
          <span>

            <b>MOEN</b> Wynford 24" Towel Bar 
          </span>
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="container mt-20">
                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled">
                                <a href="?p=1">First</a>
                            </li>

                            <li class="disabled">
                                <a href="?p=1">Prev</a>
                            </li>

                            <li class="active">
                                <a href="?p=1">1</a>
                            </li>

                            <li>
                                <a href="?p=2">2</a>
                            </li>

                            <li>
                                <a href="?p=3">3</a>
                            </li>

                            <li>
                                <a href="?p=4">4</a>
                            </li>

                            <li>
                                <a href="?p=5">5</a>
                            </li>

                            <li>
                                <a href="?p=2">Next</a>
                            </li>

                            <li>
                                <a href="?p=21">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}